
config microsocks 'config'
	option enabled '0'
	option bindaddr ''
	option listenip '::'
	option port '1080'
	option user ''
	option password ''
	# Boolean, must be used together with user/pass
	option auth_once '0'
	# Boolean, auto setup firewall rule so you can access it from Internet
	option internet_access '0'

