#trTable {
  width: 100%;
  border: 1px solid var(--border-color-medium) !important;
}

th, td {
  padding: 10px;
  text-align: left !important;
  vertical-align: middle !important;
}

tr {
  text-align: center !important;
}

#trTable tr:nth-child(odd) td{
  background: var(--background-color-medium) !important;
  border-bottom: 1px solid var(--border-color-medium) !important;
  border-top: 1px solid var(--border-color-medium) !important;
}

#trTable tr:nth-child(even) td{
  border-bottom: 1px solid var(--border-color-medium) !important;
  border-top: 1px solid var(--border-color-medium) !important;
}
