
 
<%+cbi/valueheader%>
<script type="text/javascript">//<![CDATA[ 
	function account(btn,option)
	{
		btn.disabled = true;
		if (option == "login") {
			var s = document.getElementById(option+'-status');
			var e = document.getElementsByName('cbid.xclient.config.email');
			var p = document.getElementsByName('cbid.xclient.config.passwd'); 
			if (!e[0].value || !p[0].value) {
				btn.disabled = false;
				s.innerHTML ="<font color='red'><strong>Error Login Info</strong></font>";
				return false;
			};

			btn.value = 'Login...';
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "xclient", "login_info")%>', {email: e[0].value, passwd : p[0].value}, function(x, status) {
				if (x && x.status == 200) {
					XHR.get('<%=luci.dispatcher.build_url("admin", "services", "xclient", "login")%>', null, function(x, status) {
					if (s)
					{
						if (x && x.status == 200 && status.login == 1) {
							s.innerHTML ="<font color='green'><strong>Login Successful</strong></font>";
							document.getElementById('logout').hidden = false;
							document.getElementById('update').hidden = false;
							document.getElementById('login').hidden = true;
							subscribe();
						}
						else {
							s.innerHTML ="<font color='red'><strong>Login Failed</strong></font>";
						}
					}
					btn.disabled = false;
					btn.value = 'Login To Account';
					});
				}
			});
		};
		if (option == "logout") {
			var s = document.getElementById('login-status');
			btn.value = 'Logout..';
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "xclient", "logout")%>', null, function(x, status) {
					if (s)
					{
						if (x && x.status == 200 && status.logout == 1) {
							s.innerHTML ="<font color='green'><strong>Logout Successful</strong></font>";
							document.getElementById('logout').hidden = true;
							document.getElementById('update').hidden = true;
							document.getElementById('login').hidden = false;
							window.setTimeout("location.reload()", 2000);
						}
						else {
							s.innerHTML ="<font color='red'><strong>Logout Failed</strong></font>";
						}
					}
					btn.disabled = false;
					btn.value = 'Logout Account';
				}
			);
		};
		return false;
	}

	function subscribe() 
	{
        var s = document.getElementById('login-status');
		document.getElementById('update').disabled = true;
		document.getElementById('update').value    = 'Updating Servers...';

		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "xclient","subscribe")%>', null, function(x,status) {
            if (x && x.status == 200 && status.ret == 1) {
				s.innerHTML ="<font color='green'><strong>Upate Servers Successful</strong></font>";
				document.getElementById('update').disabled = false;
				document.getElementById('update').value    = 'Update Servers';
				window.setTimeout("location.reload()", 2000);
			}else{
			    s.innerHTML ="<font color='red'><strong>Error Upating Servers</strong></font>";
				document.getElementById('update').disabled = false;
				document.getElementById('update').value    = 'Update Servers';
			}
		});
		return false;
	}
	
//]]></script> 
<input hidden type="button" id="login" class="btn cbi-button cbi-button-apply" value="Login To Account" onclick="return account(this,'login')" />
<input  id="logout"  type="button" class="btn cbi-button cbi-button-remove" value="Logout Account" onclick="return account(this,'logout')" />
<input  id="update" type="button" class="btn cbi-button cbi-button-apply" value="Update Servers" onclick="return subscribe()" />
<br/><span id="<%=self.option%>-status"><%=self.value%></span>
<%+cbi/valuefooter%>
