<% include("cbi/map") %>
<script type="text/javascript">//<![CDATA[
    XHR.poll(3, '<%=url([[admin]], [[vpn]], [[zerotier]], [[status]])%>', null,
             function(x, data) {
                 var tb = document.getElementById('zerotier_status');
                 if (data && tb) {
                     if (data.running) {
                         var links = '<b><font color=green><%:Running%></font></b>';
                         tb.innerHTML = links;
                     } else {
                         tb.innerHTML = '<b><font color=red><%:Stopped%></font></b>';
                     }
                 }
             }
            );
    //]]>
</script>
