<%+cbi/valueheader%>
<%
local sid = section
local alias = self.map:get(section, "alias") or sid
local safe_alias = tostring(alias):gsub("\\", "\\\\"):gsub("\"", "\\\"")
%>
<script type="text/javascript">//<![CDATA[
	function ssr_update_subscribe_item_<%=sid%>(btn) {
		if (!btn) return false;
		btn.disabled = true;
		btn.value = '<%:Updating...%>';
		window.ssrSubscribeRun = window.ssrSubscribeRun || function(_, done) {
			if (done) done();
		};
		window.ssrSubscribeRun({
			sid: "<%=sid%>",
			title: "Subscribe: <%=safe_alias%>"
		}, function() {
			btn.disabled = false;
			btn.value = '<%:Update%>';
		});
		return false;
	}
//]]></script>
<input type="button" class="btn cbi-button cbi-button-apply" value="<%:Update%>" onclick="return ssr_update_subscribe_item_<%=sid%>(this)" />
<%+cbi/valuefooter%>
