[data-bs-theme=darkpink] {
  color-scheme: dark;
  --bs-body-color: #e6dee3;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #424963;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #424963;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #424963;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #330329;
  --bs-secondary-bg-subtle: #191618;
  --bs-success-bg-subtle: #1b0516;
  --bs-info-bg-subtle: #300328;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #e75480;
  --bs-dark-bg-subtle: #e75480;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #b34187;
  --bs-heading-color: inherit;
  --bs-body-font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  --bs-body-font-weight: 700;
  .table {
    --bs-table-bg:var(--bs-dark-bg-subtle);
  }
  .h1{
    font-weight:var(--bs-body-font-family);
  }
  .h2{
    font-weight:var(--bs-body-font-family);
  }

  .container-bg {
    background:var(--bs-dark-bg-subtle);
  }
  .form-control{
    font-family: Andale Mono, monospace;
    background-color: var(--bs-light-bg-subtle);
    border-color: black;
  }
}

