
[data-bs-theme=dark]{
  color-scheme: dark;
  .table {
    --bs-table-bg:var(--bs-secondary-bg-subtle);
  }
  .container-bg {
    background:var(--bs-secondary-bg-subtle);
  }
  .form-control{
    background-color: var(--bs-secondary-bg-subtle);
    border-color: black;
  }
}