[data-bs-theme=light]{
  color-scheme: light;
  .table {
    --bs-table-bg:var(--bs-light-bg-subtle);
  }
  .container-bg {
    background:var(--bs-gray-100);
  }
  .form-control{
    background-color: var(--bs-body-bg);
    border-color: black;
  }
}