<%#
	Alpha os is made from me for all .. especially for indo wrt members and fan of OpenWrt or DBAI Community
	luci-theme-alpha
	Copyright 2024 derisamedia <facebook.com/derisamedia>
	Have a bug? Please create an issue here on GitHub!

	luci-theme-material
	Copyright 2015 Lutty Yang <lutty@wcan.in>

	luci-theme-bootstrap:
	Copyright 2008 Steven Barth <steven@midlink.org>
	Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
	Copyright 2012 David Menting <david@nut-bolt.nl>

	MUI:
	https://github.com/muicss/mui

	Licensed to the public under the Apache License 2.0
-%>

<% local ver = require "luci.version" %>
	</div>
	
	<footer class="mobile">
	<a href="https://github.com/derisamedia/luci-theme-alpha"><%= ver.luciname %> | <%= ver.distversion %> | Alpha OS Theme v3.9</a>
	</footer>
	</div>
	<div class="navbar active">
		<div class="dropdown">
			
	<a href="/cgi-bin/luci/admin/status/overview"><img src="<%=media%>/gaya/icon/navbar/status.png" /></a>
 <a href="/cgi-bin/luci/admin/services/ttyd"><img src="<%=media%>/gaya/icon/navbar/terminal.png" /></a>
  <a href="/cgi-bin/luci/admin/services/openclash"><img src="<%=media%>/gaya/icon/navbar/oc.png" /></a>
  <a href="/cgi-bin/luci/admin/nas/tinyfm"><img src="<%=media%>/gaya/icon/navbar/nas.png" /></a>
  <a href="/cgi-bin/luci/admin/modem/main"><img src="<%=media%>/gaya/icon/navbar/modem.png" /></a>
  <a href="/cgi-bin/luci/admin/network/network"><img src="<%=media%>/gaya/icon/navbar/interface.png" /></a>

			</div>
        <label class="toggler">
			<img src="<%=media%>/gaya/icon/arrow.svg" alt="">
		</label>
</div>
<script>
	{
  const nav = document.querySelector(".navbar");
  let lastScrollY = window.scrollY;

  window.addEventListener("scroll", () => {
    if (lastScrollY < window.scrollY) {
      nav.classList.add("navbar--hidden");
    } else {
      nav.classList.remove("navbar--hidden");
    }

    lastScrollY = window.scrollY;
  });
}
	</script>
</div>

<script type="text/javascript">L.require('menu-alpha')</script>
<script src="<%=media%>/app.js"></script>

</body>
</html>
