<%+header%>

<script>
    (function(){
    })();
</script>
<div id="app">
</div>

<script>
  window.IstoreosFormConfig = {
    getApi:"/cgi-bin/luci/admin/services/wxedge/form/",
    logApi:"/cgi-bin/luci/admin/services/wxedge/log",
    submitApi:"/cgi-bin/luci/admin/services/wxedge/submit",
    getHook:function(resp){
      var c1 = resp.result.schema.containers[0];
      var idx = 1;
      if  (resp.result.data.container_install) {
        c1.labels[idx].value = '<a href="http://'+location.host+':'+resp.result.data.port+'" target="_blank" class="cbi-button cbi-button-success">进入容器魔方</a>';
      } else {
        c1.labels[idx].value = "请继续完成安装，才能运行「容器魔方」";
      }
      return resp;
    },
  }
</script>
<script type="module" crossorigin src="/luci-static/iform/1.0/index.js?v=<%=math.random(1,100000)%>"></script>
<link rel="stylesheet" href="/luci-static/iform/1.0/style.css?v=<%=math.random(1,100000)%>">

<%+footer%>
