config global
	option enable '0'
	option def_tcp_stun 'stunserver.stunprotocol.org'
	option def_udp_stun 'stunserver.stunprotocol.org'
	option def_http_server 'example.com'
	option def_tcp_interval '30'
	option def_udp_interval '15'

config natmap
	option enable '0'
	option interval ''
	option stun_server ''
	option http_server 'www.baidu.com'
	option udp_mode '0'
	option family ''
	option bind_ifname ''
	option port '8080'
	option forward '0'
	option forward_mode 'via'
	option natloopback '1'
	option forward_target ''
	option forward_port ''
	option custom_script ''
	option log_stdout '1'
	option log_stderr '1'

config natmap
	option enable '1'
	option comment 'MC Server'
	option family 'ipv4'
	option udp_mode '0'
	option port '25565'
	option forward '1'
	option forward_mode 'dnat'
	option natloopback '1'
	option forward_target '192.168.1.123'
	option forward_port '25565'
	option ddns_enable '1'
	option ddns_script '/etc/natmap/ddns/Cloudflare'
	list ddns_tokens 'TOKEN=<api_token>'
	list ddns_tokens 'ZONE_ID=<zone_id>'
	option ddns_a 'mc.example.com'
	option ddns_srv 'mc.example.com'
	option ddns_srv_serv 'minecraft'
	option ddns_srv_proto 'tcp'

config natmap
	option enable '1'
	option comment 'qBittorrent'
	option udp_mode '0'
	option family 'ipv4'
	option port '114514'
	option forward '1'
	option forward_mode 'dnat'
	option natloopback '0'
	option forward_target '192.168.1.123'
	option forward_port '0'
	option refresh '1'
	option clt_script '/etc/natmap/client/qBittorrent'
	option clt_scheme 'http'
	option clt_web_port '8080'
	option clt_username 'admin'
	option clt_password 'wrt6V5xAB6_t6Cr6Vm7554'
	option notify_enable '1'
	option notify_script '/etc/natmap/notify/ntfy'
	list notify_tokens 'TOPIC=<topic>'
	list notify_tokens 'TITLE=<title>'

config natmap
	option enable '1'
	option comment 'librespeed-go'
	option udp_mode '0'
	option family 'ipv4'
	option bind_ifname 'eth1'
	option port '8989'
	option forward '1'
	option forward_mode 'dnat'
	option forward_target '127.0.0.1'
	option forward_port '8989'
	option ddns_enable '1'
	option ddns_script '/etc/natmap/ddns/Cloudflare'
	list ddns_tokens 'TOKEN=<api_token>'
	list ddns_tokens 'ZONE_ID=<zone_id>'
	option ddns_enable '1'
	option ddns_a 'web.example.com'
	option ddns_https 'web.example.com'
	option ddns_https_target '.'
	option ddns_https_svcparams 'alpn="h2,http/1.1"'

config natmap
	option enable '0'
	option comment 'DNSmasq need trun off '"'"'Local_service_only'"'"''
	option udp_mode '1'
	option family 'ipv4'
	option port '5321'
	option forward '1'
	option forward_mode 'dnat'
	option forward_target '0.0.0.0'
	option forward_port '53'
