<style>
    .custom-parent {
        display: table;
        width: 100%;
        text-align: center;
    }

    .custom-left {
        display: table-cell;
        width: 40%;
        text-align: center;
    }

    .custom-mid {
        display: table-cell;
        width: 20%;
        text-align: center;
    }

    .custom-right {
        display: table-cell;
        text-align: center;
    }

    .custom-parent p {
        font-size: medium;
    }

    .custom-parent a {
        font-size: medium;
    }
</style>

<div class="custom-parent">
    <div class="custom-left cbi-section">
        <p>Source Code & Updates&nbsp;</p>
        <a href="https://github.com/WinterOfBit/luci-app-sakurafrp">Github</a>
    </div>

    <div class="custom-mid"></div>

    <div class="custom-right cbi-section">
        <p>Powered By&nbsp;</p>
        <a href="https://natfrp.com">SakuraFrp</a>
    </div>
</div>