.netports-table .td,
.netports-table .th {
	line-height: 1.3em;
}
.netports-linkstatus-icon-container {
	width: 42px;
}
.netports-linkstatus-icon {
	  display: inline-block;
	max-width: 100%;
	    width: 100%;
	   height: auto;
}
.netports-linkstatus-icon-container-v {
	float: left;
	margin-right: 8px;
}
.netports-linkstatus-text {
	white-space: nowrap;
}
.netports-linkstatus-text-disconnected,
.netports-linkstatus-text-disabled {
	color: #bbbbbb;
}
.netports-ifacebox,
.netports-ifacebox-head {
	width: auto !important;
	width: fit-content !important;
	width: -moz-fit-content !important;
	width: -webkit-fit-content !important;
}
.netports-ifacebox {
	display: block;
	padding: 0;
	margin: 0;
	min-width: auto;
}
.netports-ifacebox-head {
	padding-right: 8px;
	padding-left: 8px;
	text-align: center;
	min-width: 100px;
}
.netports-ifacebox-head a {
	color: inherit;
}
.netports-title {
	text-align: left;
	justify-content: space-between;
	display: flex;
	flex-flow: row-reverse;
	align-items: flex-end;
}
.netports-copyright {
	margin: 0;
	color: #ccc;
	font-size: 85%;
	white-space: nowrap;
}
.netports-buttons {
	margin: 0 6px 0 0;
	padding: 0;
	display: flex;
	flex-flow: row-reverse;
}
.netports-buttons button {
	margin-bottom: 8px;
	margin-right: 4px;
	height: 22px;
	padding: 0 10px;
	display: inline-flex;
	background: linear-gradient(#fff, #fff 25%, #e6e6e6) no-repeat;
	box-shadow: 0 1px 3px 0 grey;
}
.netports-buttons button:disabled {
	opacity: 0.6;
}
.netports-buttons button svg {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	fill: #333;
}
.netports-buttons button:hover svg {
	fill: #008dd2;
}
.netports-buttons button:disabled svg {
	fill: #aaa;
}
.netports-copyright a {
	color: #ccc;
	font-weight: normal;
	text-decoration: none;
}
.netports-copyright a:hover {
	color: #aaa;
	text-decoration: underline;
}
