# See https://github.com/Jamesits/alwaysonline/blob/master/http_server.go
config alwaysonline 'global'
	option tun_name 'awoltun0'
	option tun_addr4 '172.25.26.1/30'
	option tun_addr6 'fdfe:aead:2526::1/126'
	option port '8083'
	option enabled '0'

config domain
	option name 'www.msftncsi.com'
	option group 'windows'
	option family 'both'
	option enabled '1'

config domain
	option name 'ipv6.msftncsi.com'
	option group 'windows'
	option family '6'
	option enabled '1'

config domain
	option name 'www.msftconnecttest.com'
	option group 'windows'
	option family 'both'
	option enabled '1'

config domain
	option name 'ipv6.msftconnecttest.com'
	option group 'windows'
	option family '6'
	option enabled '1'

config domain
	option name 'dns.msftncsi.com'
	option group 'windows'
	option family '4'
	option overwrite '131.107.255.255'
	option enabled '1'

config domain
	option name 'dns.msftncsi.com'
	option group 'windows'
	option family '6'
	option overwrite 'fd3e:4f5a:5b81::1'
	option enabled '1'

config domain
	option name 'captive.apple.com'
	option group 'apple'
	option family 'both'
	option enabled '1'

config domain
	option name 'clients3.google.com'
	option group 'android'
	option family 'both'
	option enabled '1'

config domain
	option name 'connectivitycheck.gstatic.com'
	option group 'android'
	option family 'both'
	option enabled '1'

config domain
	option name 'connectivitycheck.android.com'
	option group 'android'
	option family 'both'
	option enabled '1'

config domain
	option name 'connect.rom.miui.com'
	option group 'android'
	option family 'both'
	option enabled '1'

config domain
	option name 'connectivitycheck.platform.hicloud.com'
	option group 'android'
	option family 'both'
	option enabled '1'

config domain
	option name 'network-test.debian.org'
	option group 'linux'
	option family 'both'
	option enabled '1'

config domain
	option name 'nmcheck.gnome.org'
	option group 'linux'
	option family 'both'
	option enabled '1'

config domain
	option name 'www.archlinux.org'
	option group 'linux'
	option family 'both'
	option enabled '1'

config domain
	option name 'ping.archlinux.org'
	option group 'linux'
	option family 'both'
	option enabled '1'

config domain
	option name 'networkcheck.kde.org'
	option group 'linux'
	option family 'both'
	option enabled '1'

config domain
	option name 'detectportal.firefox.com'
	option group 'linux'
	option family 'both'
	option enabled '1'

config domain
	option name 'start.ubuntu.com'
	option group 'linux'
	option family 'both'
	option enabled '1'

config domain
	option name 'capnet.elementary.io'
	option group 'linux'
	option family 'both'
	option enabled '1'

